li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.nav {
  text-align: center;
  border: 1px solid black;
  height: 50px;
  line-height: 50px;
  background-color: lightblue;
}

.main-content {
  display: grid;
  grid-template: 85vh / 2fr 6fr 2fr;
}

.main-content > * {
  border: 1px solid black;
  text-align: center;
  background-color: #b7b6b6;
}

.main-rule {
  font-size: 1.5rem;
}

.input-content {
  display: grid;
  grid-template: 90% 10% / 1fr;
  height: 100%;
}

.input-chat {
  text-align: left;
  font-size: 1.25rem;
  overflow-y: scroll;
}

.chat-content {
  padding-left: 20px;
}

.input-cmd {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
}

.input-cmd input, .input-cmd button {
  height: 50%;
  line-height: 50%;
}